{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
    <input type="hidden" id="usuario_id_actual" value="{{ request.user.id_user }}">
    <div class="container-fluid">
        <button class="icon-container button-style custom-button mb-2" type="button" data-url="{% url 'microalimentos:historial_bitacoras_por_anio' %}">Regresar</button>
    </div>
    <div class="container">
        <h1>{{ titulo }}</h1>
        
        {% if meses %}
            <div class="row h-100">
                {% for mes in meses %}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 shadow-sm " data-url="{% url 'microalimentos:lista_bitacoras_por_periodo' año=anio mes=mes.numero %}" style="cursor: pointer;">
                            <div class="card-body text-center">
                                <h2 class="card-title">{{ mes.nombre }}</h2>
                                <p class="card-text text-muted">Ver bitácoras autorizadas de {{ mes.nombre }} {{ anio }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-info">
                <p>No hay meses con bitácoras autorizadas para el año {{ anio }}</p>
            </div>
        {% endif %}
    </div>
</body>
{% endblock %}
{% block extra_js %}
    <script type="module" src="{% static 'js/events-bita131.js' %}"></script>
    <script src="{% static 'js/functions.js' %}"></script>
    <script src="{% static 'js/redirect.js' %}"></script>
{% endblock %}