.card {
    height: 100%;
  }

.full-height {
    height: 100%;
  }

.celda-flex {
    display: flex;
    align-items: center;
    width: 100%; /* Ocupa todo el ancho de la celda */
}

.celda-flex label {
    font-size: 12px;
    margin-right: 5px;
    flex: 0 0 auto; /* El label no crece ni se encoge */
}

.celda-flex input {
    flex: 1; /* El input ocupa el espacio restante */
    width: 100%; /* Ocupa todo el ancho disponible */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho */
    border: none; /* Elimina el borde del input */
    outline: none; /* Elimina el contorno al hacer clic */
    padding: 5px; /* Añade un poco de padding */
}

.celda-flex input:focus {
    background-color: #f0f0f0; /* Cambia el color de fondo al hacer clic */
}

/* Clase para los titulos redondeados y azules como taba de cumplimiento de calidad*/
.cct {
  caption-side: top;
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px;
  background-color: #063970;
  color: white;
  border-radius: 10px;
}

/* clase texto con lineas */

.texto-con-linea1 {
  display: inline-block; /* Hace que el borde solo ocupe el ancho del texto */
  border-bottom: 2px solid black; /* Línea negra debajo del texto */
  padding-bottom: 2px; /* Espacio entre el texto y la línea */
}

.texto-con-linea {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.texto-con-linea::after {
  content: '';
  position: absolute;
  left: 65%; /* Centra la línea respecto al texto */
  transform: translateX(-60%); /* Ajusta la posición horizontal */
  bottom: -2px; /* Posición de la línea */
  width: 130%;
  height: 1px; /* Grosor de la línea */
  background-color: black; /* Color de la línea */
}

.texto-con-linea-peque {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.texto-con-linea-peque::after {
  content: '';
  position: absolute;
  left: 65%; /* Centra la línea respecto al texto */
  transform: translateX(-60%); /* Ajusta la posición horizontal */
  bottom: -2px; /* Posición de la línea */
  width: 100%;
  height: 1px; /* Grosor de la línea */
  background-color: black; /* Color de la línea */
}

.mismoRenglon {
  display: inline-block;
}

/* linea de los imput */

.input-container {
  font-family: Arial, sans-serif; /* Fuente opcional */
  margin: 20px; /* Espacio externo */
}

.underline-input {
  border: none; /* Sin borde */
  border-bottom: 2px solid #000; /* Línea inferior */
  outline: none; /* Sin contorno al hacer clic */
  padding: 5px; /* Espacio interno */
  font-size: 16px; /* Tamaño de la fuente */
  background: transparent; /* Fondo transparente */
  width: 50px; /* Ancho del input */
  padding-bottom: 0px;
  text-align: center;
}

.underline-input::placeholder {
  color: transparent; /* Oculta el placeholder */
}


.underline-input-peque {
  border: none; /* Sin borde */
  border-bottom: 2px solid #000; /* Línea inferior */
  outline: none; /* Sin contorno al hacer clic */
  padding: 6px; /* Espacio interno */
  font-size: 13px; /* Tamaño de la fuente */
  background: transparent; /* Fondo transparente */
  width: 40px; /* Ancho del input */
  padding-bottom: 0px; /* Espacio entre el texto y la línea */
}

.underline-input-peque::placeholder {
  color: transparent; /* Oculta el placeholder */
}

/* diseños nuevos */

.ipt {
  width: 50px; /* Ancho del input */
  text-align: center;
  border-radius: 10%;
}
.ipt_T {
  width: 90px; /* Ancho del input */
  text-align: center;
  border-radius: 10%;
}

.ipt::placeholder{
  color: transparent;
}

td input {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
}

.tmInT {
  width: 55px;

}

.fraccion {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.numerador, .denominador {
  display: block;
}

.numerador {
  border-bottom: 1px solid black; /* Línea divisoria */
  padding: 0 5px; /* Espaciado horizontal */
}

.tm {
  font-size: 14px;
}

.trm {
  font-size: 20px;
}

.botones-flotantes {
  position: fixed; /* Hace que el contenedor sea flotante */
   /*bottom: 20px; Distancia desde la parte inferior de la pantalla */
  /* left: 50%;  Centra horizontalmente */
  /* transform: translateX(-50%);  Ajusta el centrado */
  z-index: 1000; /* Asegura que los botones estén por encima de otros elementos */
   /* background-color: white; Fondo para que los botones sean visibles */
   /* padding: 10px; Espaciado interno */
   /* border-radius: 8px; Bordes redondeados */
  /*  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); Sombra para resaltar */
}

#boton-subir {
  position: fixed; /* Fija el botón en la pantalla */
  bottom: 20px; /* Distancia desde la parte inferior */
  right: 20px; /* Distancia desde la derecha */
  display: none; /* Oculta el botón inicialmente */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.tdD {
  position: relative; /* Establecer el contexto de posicionamiento */
  padding: 0;         /* Eliminar el padding de la celda */
  margin: 0;          /* Eliminar el margin de la celda */
}

.tdD input[type="checkbox"] {
  position: absolute; /* Posicionar el checkbox de manera absoluta */
  top: 10px;
  left: 20px;
  width: 70%;  /* Ocupar todo el ancho de la celda */
  height: 70%; /* Ocupar todo el alto de la celda */
  margin: 0;    /* Eliminar el margin del checkbox */
}

.TdDCh {
  position: relative; /* Establecer el contexto de posicionamiento */
  padding: 0;         /* Eliminar el padding de la celda */
  margin: 0;          /* Eliminar el margin de la celda */
}

.TdDCh input[type="checkbox"] {
  position: absolute; /* Posicionar el checkbox de manera absoluta */
  top: 5px;
  left: 20px;
  width: 70%;  /* Ocupar todo el ancho de la celda */
  height: 70%; /* Ocupar todo el alto de la celda */
  margin: 0;    /* Eliminar el margin del checkbox */
}